.creative-section-container {
    height: 450px;
    background-color: rgb(207, 207, 207);
}

.sections-split {
    display: flex;
}


.image-container {
    height: 300px;
    width: 45%;
    margin: 20px;
    
    .typing-video {
       height: 350px;
       width: 500px;
    }
}

.creative-section-title {
    margin-left: 50px;
    margin-top: 5px;

    h1 {
        font-size: 35px;
        /* text-decoration: underline dotted #87898d; */
        bottom: -2px;
        border-bottom: 6px dotted #87898d;
    }
}

.paragraph-images {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;

    img {
        margin: 5px;
        height: 80px;
    }

}

.paragraph-section {
    margin: 10px 10px 10px 50px;
}