.hero-container {
    background-color: black;
    height: 450px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    margin-left: 20px;
    font-size: 50px;

    h1 {
        background: -webkit-linear-gradient(rgb(12, 241, 23), rgb(205, 241, 226));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.carousel-section {
    display: flex;
    margin-right: 20px;
}